<div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>
    <%= link_to "Sign up as Customer!", customersignup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Sign up as Restaurant!", restaurantsignup_path, class: "btn btn-large btn-primary" %>
</div>

