<div class="center hero-unit">
    <h1>Welcome to Plan My Meal</h1>
    <br/><br/>
    <% if !customersigned_in? && !restaurantsigned_in? %>
      <%= link_to "Sign up as Customer!", customersignup_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Sign up as Restaurant!", restaurantsignup_path, class: "btn btn-large btn-primary" %>
    <%end%>
</div>

