<table class="table">
<% @reviews.each do |review| %>
  <tr>
    <td><%= review.user_id %></td>
    <td><%= review.user_feedback %></td>
    <% if customersigned_in? %>
      <td><%= link_to 'Delete', review , method: :delete ,data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>