<h1>Listing restaurants</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Rating</th>
  </tr>


<% @sorted_list_on_rating.each do |id_rating_pair| %>
  <% @this_restaurant = Restaurant.find_by_id(id_rating_pair[0]) %>
  <tr>
    <td><%= link_to @this_restaurant.name, @this_restaurant %></td>
    <td><%= @this_restaurant.address %></td>
    <%if @this_restaurant.ratings.collect(&:user_rating).count != 0 %>
      <td> <%= id_rating_pair[1] %> (based on <%= @this_restaurant.ratings.collect(&:user_rating).count %> votes)</td>
    <% else %>
      <td> Not Rated </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

